* linguist-vendored=false
* linguist-detectable=true
*.js linguist-language=JavaScript
*.py linguist-language=Python
*.css linguist-language=Css
*.php linguist-language=Php
*.html linguist-language=Html
